{% extends 'base/front_base.html' %}


{% block title %}
   创业课堂
{% endblock %}


{% block head %}
   <link rel="stylesheet" href="{% static 'css/course/course_index.min.css' %}">
{% endblock %}


{% block main %}
   <div class="main">
      {% include 'course/course_nav.html' %}
      <div class="wrapper">
         <ul class="course-list">
            <li>
               <a href="#">
                  <div class="thumbnail-group">
                     <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnial">
                  </div>
                  <div class="course-info">
                     <p class="title">对赌是什么 该不该做对赌</p>
                     <p class="author">知了课堂CEO</p>
                     <p class="price-group">
                        <span class="pay">￥29.0</span>
                     </p>
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="thumbnail-group">
                     <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnial">
                  </div>
                  <div class="course-info">
                     <p class="title">对赌是什么 该不该做对赌</p>
                     <p class="author">知了课堂CEO</p>
                     <p class="price-group">
                        <span class="pay">￥29.0</span>
                     </p>
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="thumbnail-group">
                     <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnial">
                  </div>
                  <div class="course-info">
                     <p class="title">对赌是什么 该不该做对赌</p>
                     <p class="author">知了课堂CEO</p>
                     <p class="price-group">
                        <span class="pay">￥29.0</span>
                     </p>
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="thumbnail-group">
                     <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnial">
                  </div>
                  <div class="course-info">
                     <p class="title">对赌是什么 该不该做对赌</p>
                     <p class="author">知了课堂CEO</p>
                     <p class="price-group">
                        <span class="pay">￥29.0</span>
                     </p>
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="thumbnail-group">
                     <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnial">
                  </div>
                  <div class="course-info">
                     <p class="title">对赌是什么 该不该做对赌</p>
                     <p class="author">知了课堂CEO</p>
                     <p class="price-group">
                        <span class="pay">￥29.0</span>
                     </p>
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="thumbnail-group">
                     <img src="http://static-image.xfz.cn/1513577022_550.png" alt="" class="thumbnial">
                  </div>
                  <div class="course-info">
                     <p class="title">对赌是什么 该不该做对赌</p>
                     <p class="author">知了课堂CEO</p>
                     <p class="price-group">
                        <span class="pay">￥29.0</span>
                     </p>
                  </div>
               </a>
            </li>
            <li></li>
            <li></li>
         </ul>
      </div>
   </div>
{% endblock %}