{% extends 'base/front_base.html' %}


{% block title %}
   创业课堂
{% endblock %}


{% block head %}
   <link rel="stylesheet" href="{% static 'css/course/course_index.min.css' %}">
{% endblock %}


{% block main %}
   <div class="main">
      {% include 'course/course_nav.html' %}
      <div class="wrapper">
         <ul class="course-list">
            {% for course in courses %}
               <li>
                  <a href="{% url 'course:course-detail' course.pk %}">
                     <div class="thumbnail-group">
                        <img src="{{ course.cover_link }}" alt="" class="thumbnail">
                     </div>
                     <div class="course-info">
                        <p class="title">{{ course.name }}</p>
                        <p class="author">{{ course.teacher.nickname }}</p>
                        <p class="price-group">
                           {% if course.price > 0 %}
                              <span class="pay">￥{{ course.price}}</span>
                           {% else %}
                              <span class="free">免费</span>
                           {% endif %}
                        </p>
                     </div>
                  </a>
               </li>
            {% endfor %}
         <li style="background-color: transparent"></li>
         </ul>
      </div>
   </div>
{% endblock %}