{% extends 'cms/base.html' %}
{% load news_filter %}


{% block title %}
   {% if staff %}
      编辑员工
   {% else %}
      添加员工
   {% endif %}
{% endblock %}


{% block content_header %}
   {% if staff %}
      编辑员工
   {% else %}
      添加员工
   {% endif %}
{% endblock %}


{% block content %}
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <div class="box box-primary">
            <div class="box-body">
               <form action="" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <label for="staff-tel">手机号码:</label>
                     {% if staff %}
                        <input type="text" id="staff-tel" name="telephone" value="{{ staff.telephone }}" class="form-control" placeholder="员工手机号码" readonly>
                     {% else %}
                        <input type="text" id="staff-tel" name="telephone" class="form-control" placeholder="员工手机号码">
                     {% endif %}
                  </div>
                  <div class="checkbox">
                     {% for group in groups %}
                        {% if group in staff_groups %}
                           <label style="margin-right: 14px">
                              <input name="group" type="checkbox" value="{{ group.pk }}" checked>{{ group.name }}
                           </label>
                        {% else %}
                           <label style="margin-right: 14px">
                              <input name="group" type="checkbox" value="{{ group.pk }}">{{ group.name }}
                           </label>
                        {% endif %}
                     {% endfor %}
                  </div>
                  <div class="form-group">
                     <button class="btn btn-primary pull-right" id="add-btn">确认添加</button>
                  </div>
               </form>
            </div>
            <div class="box box-footer">
               {% if messages %}
                  <ul>
                     {% for message in messages %}
                        <li style="color: #f00;">{{ message|dict_or_str }}</li>
                     {% endfor %}
                  </ul>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block bottom-head %}
   <script src="{% static 'js/cms/staff_operate.min.js' %}"></script>
{% endblock %}