{% extends 'cms/base.html' %}

{% block title %}
   轮播图管理
{% endblock %}

{% block head %}
   <link rel="stylesheet" href="{% static 'css/cms/banner.min.css' %}">
{% endblock %}


{% block content_header %}
   轮播图管理
{% endblock %}

{% block content %}
   <div class="row">
      <div class="col-md-12">
         <div class="btn-group">
            <button class="btn btn-primary" id="banner-add">
               <i class="fa fa-plus"></i>
               添加轮播图
            </button>
         </div>
         <ul class="tips">
            <li>支持JPG, GIF, PNG格式, 最多上传6张</li>
            <li>比例 4:1, 宽度在800px以上, 5M以内</li>
         </ul>
      </div>
   </div>

   <div class="banner-list-group"></div>

{% endblock %}


{% block bottom-head %}
   <script src="https://unpkg.com/qiniu-js@2.4.0/dist/qiniu.min.js"></script>
   <script src="{% static 'js/arttemplate/template-web.js' %}"></script>
   <script src="{% static 'js/cms/banner.min.js' %}"></script>

   {% verbatim %}
   <script id="banner-item" type="text/html">
   <div class="box banner-item">
      <div class="box-header">
         <span>优先级: 0</span>
         <button class="btn btn-default btn-xs pull-right">
            <i class="fa fa-close"></i>
         </button>
      </div>
      <div class="box-body">
         <div class="thumbnail-group">
            <input type="file" style="display: none;" class="image-input">
            <img src="/static/imgs/banner.png" alt="" class="thumbnail">
         </div>
         <div class="more-group">
            <div class="form-group">
               <input type="number" name="priority" placeholder="优先级" class="form-control">
            </div>
            <div class="form-group">
               <input type="text" name="link_to" placeholder="跳转链接" class="form-control">
            </div>
         </div>
      </div>
   <div class="box-footer">
      <button class="btn btn-primary btn-xs pull-right">保存</button>
   </div>
   </div>
   </script>
   {% endverbatim %}
{% endblock %}