.table {
   width: 100%;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   background: #eaeaea;
   text-align: center;
}

.table {
   border-spacing: 20px;
}

.table img {
   width: 120px;
   height: 68px;
   float: left;
}

.table .title {
   margin-left: 10px;
}

.pay-way label {
   float: right;
}

.pay-way span {
   border: 1px solid #ccc;
   position: relative;
   top: 20px;
}

.pay-way .zfb-btn {
   display: inline-block;
   width: 139px;
   height: 48px;
   cursor: pointer;
   background: url("http://study.163.com/res/images/pay/payList.png");
   background-position: -140px 0;
   background-size: 300% 200%;
   margin-right: 20px;
}

.pay-way .wx-btn {
   display: inline-block;
   width: 139px;
   height: 48px;
   position: relative;
   cursor: pointer;
}

.pay-way .wx-btn img {
   top: 12px;
   left: 16px;
   position: absolute;
}

.submit-group {
   overflow: hidden;
   padding: 60px 0;
}

.submit-btn {
   display: block;
   text-align: center;
   width: 136px;
   height: 49px;
   line-height: 49px;
   background: url("http://s.stu.126.net/res/images/pay/payBtns.png") no-repeat 4449px 4449px;
   background-position: 0 -302px;
   border: none;
   cursor: pointer;
   color: #fff;
   font-size: 16px;
   float: right;
}

.submit-btn:hover {
   background-position: -139px -302px;
}